In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
in_data=pd.read_csv('C:\Users\AG28744\Desktop\Projects\Misc\DS_Datasets\SVM_healthcare-provider-fraud-detection-analysis\SVM_Train.csv')
in_data.head()

,Provider,ClmAdmitDiagnosisCode,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,...,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,PotentialFraud
0,PRV55912,7866,201,1970,4019,5853,7843,2768,71590,2724,...,1,2,2,1,1,1,2,1,1,1
1,PRV55907,6186,750,6186,2948,56400,0,0,0,0,...,1,2,2,1,1,1,2,1,1,0
2,PRV56614,78321,975,42,3051,34400,5856,42732,486,5119,...,1,2,1,1,2,1,2,2,2,0
3,PRV54090,5699,390,1536,73300,7230,3659,2859,4019,2948,...,2,1,2,2,2,1,1,1,2,0
4,PRV51148,78605,379,56212,25000,30000,73300,2766,53081,2851,...,2,2,2,2,1,1,1,2,2,1

In [4]:
in_data.shape

(17560, 33)

In [5]:
train_prdctrs=in_data[in_data.columns[1:32]]
train_prdctrs.head()

,ClmAdmitDiagnosisCode,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,...,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke
0,7866,201,1970,4019,5853,7843,2768,71590,2724,19889,...,2,1,2,2,1,1,1,2,1,1
1,6186,750,6186,2948,56400,0,0,0,0,0,...,2,1,2,2,1,1,1,2,1,1
2,78321,975,42,3051,34400,5856,42732,486,5119,29620,...,1,1,2,1,1,2,1,2,2,2
3,5699,390,1536,73300,7230,3659,2859,4019,2948,2809,...,1,2,1,2,2,2,1,1,1,2
4,78605,379,56212,25000,30000,73300,2766,53081,2851,4439,...,2,2,2,2,2,1,1,1,2,2

In [6]:
from sklearn import preprocessing

In [7]:
train_prdctrs_std=preprocessing.scale(train_prdctrs)
train_prdctrs_std=pd.DataFrame(train_prdctrs_std)
train_prdctrs_std.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,-0.910874,-0.853682,-0.983520,-0.733727,-0.640910,-0.533615,-0.700976,2.121753,-0.604223,0.139366,...,1.658957,-0.769899,0.488941,0.979928,-0.998066,-0.500089,-0.410659,0.732422,-1.362770,-2.165690
1,-0.961599,1.252530,-0.833004,-0.775435,1.335407,-0.840610,-0.809061,-0.756993,-0.714693,-0.669895,...,1.658957,-0.769899,0.488941,0.979928,-0.998066,-0.500089,-0.410659,0.732422,-1.362770,-2.165690
2,1.216420,2.115731,-1.052352,-0.771424,0.475238,-0.611391,0.859546,-0.737450,-0.507097,0.535310,...,-0.602789,-0.769899,0.488941,-1.020483,-0.998066,1.999644,-0.410659,0.732422,0.733799,0.461747
3,-0.976304,-0.128592,-0.999014,1.964262,-0.587071,-0.697388,-0.697423,-0.595383,-0.595139,-0.555600,...,-0.602789,1.298872,-2.045238,0.979928,1.001938,1.999644,-0.410659,-1.365333,-1.362770,0.461747
4,1.224994,-0.170793,0.952981,0.083330,0.303204,2.028540,-0.701054,1.377477,-0.599073,-0.489277,...,1.658957,1.298872,0.488941,0.979928,1.001938,-0.500089,-0.410659,-1.365333,0.733799,0.461747

In [8]:
train_op=in_data[in_data.columns[32]]
train_op.head()

0    1
1    0
2    0
3    0
4    1
Name: PotentialFraud, dtype: int64

In [9]:
train_op.shape

(17560L,)

In [10]:
from sklearn.ensemble import RandomForestRegressor    #model building

In [11]:
regressor = RandomForestRegressor(n_estimators=20, random_state=0)

In [12]:
regressor.fit(train_prdctrs_std,train_op)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [14]:
predtd_fraud1=regressor.predict(train_prdctrs_std)
predtd_fraud1=pd.DataFrame(predtd_fraud1)
in_data['predtd_fraud1']=predtd_fraud1
in_data.head()

,Provider,ClmAdmitDiagnosisCode,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,...,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,PotentialFraud,predtd_fraud1
0,PRV55912,7866,201,1970,4019,5853,7843,2768,71590,2724,...,2,2,1,1,1,2,1,1,1,0.75
1,PRV55907,6186,750,6186,2948,56400,0,0,0,0,...,2,2,1,1,1,2,1,1,0,0.20
2,PRV56614,78321,975,42,3051,34400,5856,42732,486,5119,...,2,1,1,2,1,2,2,2,0,0.05
3,PRV54090,5699,390,1536,73300,7230,3659,2859,4019,2948,...,1,2,2,2,1,1,1,2,0,0.20
4,PRV51148,78605,379,56212,25000,30000,73300,2766,53081,2851,...,2,2,2,1,1,1,2,2,1,0.95

In [17]:
in_data["predtd_value"]=0

In [18]:
in_data.loc[in_data.predtd_fraud1 > 0.5, "predtd_value"] = 1
in_data.head()

,Provider,ClmAdmitDiagnosisCode,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,...,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,PotentialFraud,predtd_fraud1,predtd_value
0,PRV55912,7866,201,1970,4019,5853,7843,2768,71590,2724,...,2,1,1,1,2,1,1,1,0.75,1
1,PRV55907,6186,750,6186,2948,56400,0,0,0,0,...,2,1,1,1,2,1,1,0,0.20,0
2,PRV56614,78321,975,42,3051,34400,5856,42732,486,5119,...,1,1,2,1,2,2,2,0,0.05,0
3,PRV54090,5699,390,1536,73300,7230,3659,2859,4019,2948,...,2,2,2,1,1,1,2,0,0.20,0
4,PRV51148,78605,379,56212,25000,30000,73300,2766,53081,2851,...,2,2,1,1,1,2,2,1,0.95,1

In [35]:
test_data=pd.read_csv('C:\Users\AG28744\Desktop\Projects\Misc\DS_Datasets\SVM_healthcare-provider-fraud-detection-analysis\SVM_Test.csv')
test_data.head()

,Provider,ClmAdmitDiagnosisCode,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,...,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke
0,PRV54750,5939,661,1889,41071,5990,5601,4588,5845,4549,...,1,1,1,1,2,1,1,2,1,1
1,PRV55825,8208,564,8208,4168,920,5990,40391,2859,4254,...,1,1,2,2,2,2,1,1,2,2
2,PRV57214,389,853,389,51881,2752,5849,42731,53540,2760,...,1,1,2,2,2,2,1,2,2,2
3,PRV55190,4359,32,43491,42769,53081,496,2720,41401,3659,...,2,2,2,1,2,1,1,1,2,1
4,PRV54853,99649,479,7140,25000,0,0,0,0,0,...,1,1,2,1,1,1,1,2,1,2

In [36]:
test_data2=test_data[test_data.columns[1:32]]
test_data2.head()

,ClmAdmitDiagnosisCode,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,...,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke
0,5939,661,1889,41071,5990,5601,4588,5845,4549,29570,...,1,1,1,1,2,1,1,2,1,1
1,8208,564,8208,4168,920,5990,40391,2859,4254,41400,...,1,1,2,2,2,2,1,1,2,2
2,389,853,389,51881,2752,5849,42731,53540,2760,486,...,1,1,2,2,2,2,1,2,2,2
3,4359,32,43491,42769,53081,496,2720,41401,3659,2449,...,2,2,2,1,2,1,1,1,2,1
4,99649,479,7140,25000,0,0,0,0,0,0,...,1,1,2,1,1,1,1,2,1,2

In [37]:
test_data2['RenalDiseaseIndicator']=test_data2['RenalDiseaseIndicator'].replace('Y',1)

C:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
test_data2_std=preprocessing.scale(test_data2)
test_data2_std=pd.DataFrame(test_data2_std)
test_data2_std.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,-0.995434,0.928435,-0.986696,0.693812,-0.632233,-0.609117,-0.618676,-0.530637,-0.535623,0.516747,...,-0.621063,-0.781626,-2.064855,-1.038546,1.004586,-0.520766,-0.420104,0.737084,-1.352412,-2.183588
1,-0.926454,0.558165,-0.760882,-0.722884,-0.827661,-0.594186,0.799421,-0.646989,-0.547501,0.997941,...,-0.621063,-0.781626,0.484296,0.962884,1.004586,1.920250,-0.420104,-1.356698,0.739419,0.457962
2,-1.164161,1.661342,-1.040300,1.108805,-0.757045,-0.599598,0.892105,1.327835,-0.607655,-0.666267,...,-0.621063,-0.781626,0.484296,0.962884,1.004586,1.920250,-0.420104,0.737084,0.739419,0.457962
3,-1.043468,-1.472598,0.499983,0.758997,1.182935,-0.805056,-0.692665,0.854830,-0.571458,-0.586421,...,1.610143,1.279385,0.484296,-1.038546,1.004586,-0.520766,-0.420104,-1.356698,0.739419,-2.183588
4,1.853473,0.233701,-0.799048,0.076850,-0.863123,-0.824093,-0.800399,-0.758392,-0.718783,-0.686036,...,-0.621063,-0.781626,0.484296,-1.038546,-0.995435,-0.520766,-0.420104,0.737084,-1.352412,0.457962

In [39]:
predtd_fraud2=regressor.predict(test_data2_std)
predtd_fraud2=pd.DataFrame(predtd_fraud2)
test_data['predtd_fraud2']=predtd_fraud2
test_data.head()

,Provider,ClmAdmitDiagnosisCode,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,...,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,predtd_fraud2
0,PRV54750,5939,661,1889,41071,5990,5601,4588,5845,4549,...,1,1,1,2,1,1,2,1,1,0.55
1,PRV55825,8208,564,8208,4168,920,5990,40391,2859,4254,...,1,2,2,2,2,1,1,2,2,0.85
2,PRV57214,389,853,389,51881,2752,5849,42731,53540,2760,...,1,2,2,2,2,1,2,2,2,0.30
3,PRV55190,4359,32,43491,42769,53081,496,2720,41401,3659,...,2,2,1,2,1,1,1,2,1,0.40
4,PRV54853,99649,479,7140,25000,0,0,0,0,0,...,1,2,1,1,1,1,2,1,2,0.45

In [40]:
test_data["predtd_value"]=0

In [54]:
test_data.loc[test_data.predtd_fraud2>0.5,"predtd_value"] = 1
test_data.head()

,Provider,ClmAdmitDiagnosisCode,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,...,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,predtd_fraud2,predtd_value
0,PRV54750,5939,661,1889,41071,5990,5601,4588,5845,4549,...,1,1,2,1,1,2,1,1,0.55,1
1,PRV55825,8208,564,8208,4168,920,5990,40391,2859,4254,...,2,2,2,2,1,1,2,2,0.85,1
2,PRV57214,389,853,389,51881,2752,5849,42731,53540,2760,...,2,2,2,2,1,2,2,2,0.30,0
3,PRV55190,4359,32,43491,42769,53081,496,2720,41401,3659,...,2,1,2,1,1,1,2,1,0.40,0
4,PRV54853,99649,479,7140,25000,0,0,0,0,0,...,2,1,1,1,1,2,1,2,0.45,0

In [51]:
test_data.shape

(4153, 34)

In [55]:
export_test_data_csv = test_data.to_csv(r'C:\Users\AG28744\Desktop\Projects\Misc\DS_Datasets\SVM_healthcare-provider-fraud-detection-analysis\RF_predictions.csv', index = None, header=True)